#m1, #m2, #m3, #p, #r, #t {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border: 1px;
    -fx-border-color: #000000;
}
#m1 {
    -fx-background-image: url("../../resources/images/m1.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#m1:hover {
    -fx-background-image: url("../../resources/images/m1_hover.jpg");
    -fx-background-color: #C65BF9;
}
#m2 {
    -fx-background-image: url("../../resources/images/m2.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#m2:hover {
    -fx-background-image: url("../../resources/images/m2_hover.jpg");
    -fx-background-color: #C65BF9;
}
#m3 {
    -fx-background-image: url("../../resources/images/m3.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#m3:hover {
    -fx-background-image: url("../../resources/images/m3_hover.jpg");
    -fx-background-color: #C65BF9;
}
#p {
    -fx-background-image: url("../../resources/images/p.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#p:hover {
    -fx-background-image: url("../../resources/images/p_hover.jpg");
    -fx-background-color: #C65BF9;
}
#r {
    -fx-background-image: url("../../resources/images/r.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#r:hover {
     -fx-background-image: url("../../resources/images/r_hover.jpg");
    -fx-background-color: #C65BF9;
}
#t {
    -fx-background-image: url("../../resources/images/t.jpg");
    -fx-background-color: #359e03;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center center;
}
#t:hover {
    -fx-background-image: url("../../resources/images/t_hover.jpg");
    -fx-background-color: #C65BF9;
}

#configBackground {
    -fx-background-color: #54CC94;
}
#selectPlayers, #selectDifficulty, #selectMap {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-color: #FFFFFF;
    -fx-padding: 10px;
}
#selectPlayers:hover, #selectDifficulty:hover, #selectMap:hover {
    -fx-background-color: #CCCCCC;
    -fx-cursor: hand;
}
#startGame {
    -fx-background-color: #80968B;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 100%;
    -fx-min-width: 400px;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#startGame:hover {
    -fx-background-color: #666666;
    -fx-cursor: hand;
}